doctrine:
    dbal:
        user: '%env(DATABASE_USER)%'
        port: '%env(DATABASE_PORT)%'
        host: '%env(DATABASE_HOST)%'
        password: '%env(DATABASE_PASSWORD)%'
        dbname: '%env(DATABASE_DATABASE)%'
        driver: '%env(DATABASE_DRIVER)%'
        server_version: '%env(DATABASE_PLATFORM)%'

        types:
            datetime_immutable: \Carbon\Doctrine\CarbonImmutableType
            datetime: \Carbon\Doctrine\CarbonType

        # IMPORTANT: You MUST configure your server version,
        # either here or in the DATABASE_URL env var (see .env file)
        #server_version: '16'

        profiling_collect_backtrace: '%kernel.debug%'
    orm:
        validate_xml_mapping: true
        naming_strategy: doctrine.orm.naming_strategy.underscore_number_aware
        filters:
            softdeleteable:
                class: Gedmo\SoftDeleteable\Filter\SoftDeleteableFilter
                enabled: true
        identity_generation_preferences:
            Doctrine\DBAL\Platforms\PostgreSQLPlatform: identity
        mappings:
            App:
                type: attribute
                is_bundle: false
                dir: '%kernel.project_dir%/src/Entity'
                prefix: 'App\Entity'
                alias: App

when@test:
    doctrine:
        dbal:
            dbname_suffix: '_test%env(default::TEST_TOKEN)%'
            path: '%kernel.project_dir%/var/data_%kernel.environment%.db'

when@prod:
    doctrine:
        orm:
            query_cache_driver:
                type: pool
                pool: doctrine.system_cache_pool
            result_cache_driver:
                type: pool
                pool: doctrine.result_cache_pool

    framework:
        cache:
            pools:
                doctrine.result_cache_pool:
                    adapter: cache.app
                doctrine.system_cache_pool:
                    adapter: cache.system
