framework:
    messenger:
        # Uncomment this (and the failed transport below) to send failed messages to this transport for later handling.
        # failure_transport: failed

        transports:
            # https://symfony.com/doc/current/messenger.html#transport-configuration
            # async: '%env(MESSENGER_TRANSPORT_DSN)%'
            # failed: 'doctrine://default?queue_name=failed'
            sync: 'sync://'
            async: '%env(MESSENGER_TRANSPORT_DSN)%'

        routing:
            App\Message\Slack\SlackCommandMessage: async
            App\Message\Slack\SlackInteractionMessage: async
            App\Message\Queue\PopQueuesMessage: sync
            App\Message\Slack\SlackEventMessage: async

when@test:
    framework:
        messenger:
            routing:
                App\Message\Slack\SlackCommandMessage: sync
                App\Message\Slack\SlackInteractionMessage: sync
                App\Message\Slack\SlackEventMessage: sync
