monolog:
    channels:
        - deprecation # Deprecations are logged in the dedicated "deprecation" channel when it exists

when@dev:
    monolog:
        handlers:
            main:
                type: stream
                path: "%kernel.logs_dir%/%kernel.environment%.log"
                level: debug
                channels: ["!event"]
                formatter: monolog.formatter.json
            console:
                type: console
                process_psr_3_messages: false
                channels: ["!event", "!doctrine", "!console"]
                formatter: monolog.formatter.json

when@test:
    monolog:
        handlers:
            main:
                type: fingers_crossed
                action_level: error
                handler: nested
                excluded_http_codes: [404, 405]
                channels: ["!event"]
            nested:
                type: stream
                path: "%kernel.logs_dir%/%kernel.environment%.log"
                level: debug

when@prod:
    monolog:
        handlers:
            stdout:
                type: stream
                path: "php://stdout"
                level: debug
                max_level: warning
                channels: ["!deprecation", '!event']
                formatter: monolog.formatter.json
                process_psr_3_messages: false

            stderr:
                type: stream
                path: "php://stderr"
                level: error
                channels: ["!deprecation"]
                formatter: monolog.formatter.json
                process_psr_3_messages: false

            deprecation:
                type: stream
                channels: [deprecation]
                path: "%kernel.logs_dir%/%kernel.environment%.deprecations.log"
                formatter: monolog.formatter.json
